scope: otus
namespace: /otus-cluster
name: {{ ansible_hostname }}

restapi:
  listen: {{ ansible_default_ipv4.address }}:8008
  connect_address: {{ ansible_default_ipv4.address }}:8008

etcd:
  hosts:
{% for i in groups.db %}
  - {{ hostvars[i].ansible_default_ipv4.address }}:2379
{% endfor %}

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
      wal_level: replica
      hot_standby: "on"
      max_wal_senders: 5
      max_replication_slots: 5
      wal_log_hints: "on"
      archive_mode: "on"
      archive_timeout: 600s
      archive_command: "cp -f %p /db/pg_archived/%f"
      recovery_conf:
        restore_command: "cp -f /db/pg_archived/%f %p"
  initdb:
    - encoding: UTF8
    - data-checksums
    - locale: en_US.UTF8
  pg_hba:
    - host replication replicator ::1/128 md5
    - host replication replicator 127.0.0.1/8 md5
{% for i in groups.db %}
    - host replication replicator {{ hostvars[i].ansible_default_ipv4.address }}/32 md5
{% endfor %}
{% for i in groups.app %}
    - host  all all {{ hostvars[i].ansible_default_ipv4.address }}/32 md5
{% endfor %}
    - host all root 0.0.0.0/0 md5
  users:
    {{ db_user }}:
      password: {{ db_pass }}
      options:
        - createdb

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ ansible_default_ipv4.address }}:5432
  data_dir: /etc/patroni/pgdata
  bin_dir:  /usr/lib/postgresql/15/bin
  pgpass: /tmp/pgpass0
  authentication:
    replication:
      username: replicator
      password: replicatorSuperHarDpwd
    superuser:
      username: postgres
      password: postgres
  create_replica_methods:
    basebackup:
      checkpoint: 'fast'
  parameters:
    unix_socket_directories: '/var/run/postgresql'
    external_pid_file: '/var/run/postgresql/15-main.pid'
  logging_collector: "on"
  log_directory: "/var/log/postgresql"
  log_filename: "postgresql-15-main.log"
